AWUN_MEDIA_SECRET=replace-with-at-least-16-random-characters
AWUN_QUERY_EXPANSION_LIMIT=6
AWUN_INTERNET_ARCHIVE_MAX_ITEMS=8
AWUN_MUSICBRAINZ_CONTACT=https://github.com/Loro66/AWUN
AWUN_YOUTUBE_API_KEY=
AWUN_SOUNDCLOUD_CLIENT_ID=
AWUN_SOUNDCLOUD_CLIENT_SECRET=
AWUN_AUDIUS_API_KEY=
AWUN_JAMENDO_CLIENT_ID=
